* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: var(--font-fr);
    color: var(--col-text);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* CLASSES UTILITAIRES */
.arabic {
    font-family: var(--font-ar);
}

.tamil {
    font-family: var(--font-ta);
}

.dir-rtl {
    direction: rtl;
}

/* PAGE A4 PAYSAGE */
.page {
    background-color: white;
    width: 297mm;
    height: 210mm;
    padding: 1rem;
    /* Marge haut réduite car logo intégré */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background-image: url('../assets/patterns/background-pattern.svg');
}

/* --- MAIN LAYOUT --- */
.main-split-container {
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    overflow: hidden;
}
