/* --- HEADER --- */
.header-fixed {
    position: relative;
    /* background-color: var(--col-year-theme); */
    /* On passe sur fond blanc pour économiser l'encre */
    background-color: #fff4d8;
    background-image: url('../assets/patterns/background-pattern.svg');
    /* color: white; */
    /* Le texte de base passe en bleu foncé pour la lisibilité */
    color: var(--col-blue);
    margin: -1rem -1rem 0rem -1rem;
    padding: 2.5rem 1rem 1rem 1rem;
    /* On ajoute une ligne fine en bas pour structurer (optionnel, vert ou bleu) */
    border-bottom: 1.5px solid var(--col-year-theme);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    margin: 0 0.125rem;
}

/* Logo Image */
.logo-box {
    width: 2cm;
    height: 2cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: white;
    border-radius: 25%;
    border: 1.5px solid var(--col-year-theme);
}

.org-names {
    display: flex;
    flex-direction: column;
}

.org-fr {
    line-height: 1.25;
}

.org-ta {
    color: var(--col-year-theme);
    line-height: 1.25;
}

.header-right {
    font-size: 12px;
    line-height: 2;
    padding-left: 0.625rem;
}

.contact-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
