/* --- EN-TÊTE DE PAGE --- */
.header-fixed {
    position: relative;
    background-color: var(--bg-header-cream);
    background-image: var(--bg-pattern-custom, url('../assets/patterns/background-pattern.svg'));
    color: var(--col-text);
    margin: -1rem -1rem 0rem -1rem;
    padding: 2.5rem 1rem 1rem 1rem;
    /* Ligne de séparation thématique en bas */
    border-bottom: 1.5px solid var(--col-year-theme);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

/* Conteneur du Logo */
.logo-box {
    width: 2cm;
    height: 2cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: white;
    border-radius: 25%;
    border: 1.5px solid var(--col-year-theme);
}

.org-names {
    display: flex;
    flex-direction: column;
}

.org-fr {
    line-height: 1.25;
}

.org-ta {
    color: var(--col-year-theme);
    line-height: 1.25;
}

.header-right {
    font-size: 12px;
    line-height: 2;
    padding-left: 0.625rem;
}

.contact-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
