{
    "trailingComma": "none",
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 180,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "plugins": ["@prettier/plugin-xml"]
}
